*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    width: 100%;
    min-height: 100%;
}

body > div {
    border: 1px dotted white;
    background-color: blue;
}
