*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    width: 100%;
    min-height: 100%;
    margin-bottom: 2em;
}

main > div {
    border: 1px dotted white;
    background-color: blue;
    padding: 10px;
    color: white;
    font: monospace;
}

/* section {
    display: grid;
    place-items: center;
    place-content: center;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
} */

#selectContainer {
    padding: 1em;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
}
